@import "tailwindcss";

:root {
  --background: #141D29;
  --foreground: #ededed;
  font-family: Arial, Helvetica, sans-serif;
}


body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.pointy {
  cursor: url(/cursor_pointy.svg), pointer !important;
}

.black_pointy {
  cursor: url(/cursor_black_pointy.svg), pointer !important;
}
